* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    /* background-color: black;  */
  }

 body {
    font-family: "Lato";
}

/* Header Section */ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    box-shadow: 1px 1px 5px grey;
    z-index: 1000;
    height: 40px; 
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

#navHeading {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.header-div button {
    width: 190px;
    height: 30px;
    background-color: #ef7822;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #ffff;
    cursor: pointer;
}

.logo {
    width: 120px;
}

#contentContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    background-color: #ffff;
    box-shadow: 1px 2px 2px grey;
    position: absolute;
    padding: 2rem 1rem; 
    z-index: 3;
    margin-top: 20px;
    margin-left: -30rem;
    width: fit-content;
    /* border-radius: 10px; */
    width: 700px;
    visibility: hidden;
}

#contentContainer div img {
    width: 80px;
    height: 60px;
}  

/* Hero Section*/

.hero-appa {
    position: relative;
    display: flex; 
    justify-content: space-between;
    background-color: #FFFAF5;
    gap: 40px;
    padding: 50px 30px;
    z-index: 1;
}

.hero-logo {
    width: 570px;
    height: 390px;
    left: 1121px;
    margin-right: 29px;
}

section.hero-appa span {
    display: inline-block;
    width: 532px;
    margin-top: 100px;
    margin-left: 20px;
}

section.hero-appa span h3{
    font-size: 32px;
    font-weight: 600;
}

section.hero-appa span p {
    width: 450px;
    font-size: 14px;
    font-weight: 600;
}

.curved-img {
    position: relative;
    margin-top: -15rem;
    margin-bottom: -9rem;
    background-image: url("./images/Vector\ 12.svg");
    height: 500px;
    width: auto;
}

/* Form Section */

.form-container {
    position: absolute;
    width: 590px;
    height: 800px;
    margin-left: 30px;
    margin-top: 20px;
    /* border:  solid 2px black; */
    border-radius: 40px;
    box-shadow: 1px 3px 5px grey;
    background-color: #ffff;
    top: 600px;
    z-index: 1;
}

.form-sub-container {
    /* display: flex; */
    margin-left: 0;
    margin-top: 30px;
}

.form-sub-container .form-heading h3 {
    color: #ef7822;
    text-align: center;
}

.form-sub-container .form-heading p {
    text-align: center;
    font-size: smaller;
}

.form-sub-container form {
    text-align: center;
}

.form-sub-container form div {
    margin-bottom: 10px;
}

.form-sub-container form label {
    display: flex;
    text-align: left;
    font-weight: 600;
    margin-left: 54px;
    margin-bottom: 7px;
    font-family: Lato;
}

.form-sub-container form input[type="text"],
.form-sub-container form input[type="email"] 
{
    /* margin-top: -10px; */
    width: 500px;
    height: 39px;
    outline: none;
    padding-left: 20px;
    font-family: Lato;
}

.form-sub-container form input[type="text"]#city {
    /* background-image: url(./images/place.png.png); */
    background-repeat: no-repeat;
    /* text-indent: 20px; */
}

.form-sub-container form input[type="checkbox"] {
    margin-left: 30px;
    font-family: Lato;
}

.form-sub-container form p {
    text-align: left;
    margin-left: 20px;
    font-size: smaller;
}

.form-sub-container form button {
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 54px;
    background-color: #ef7822;
    color: #ffff;
    font-weight: bold;
}

.form-footer {
    margin-left: 120px;
    margin-top: 20px;
    width: 290px;
}

.form-footer p:nth-child(1) ,
.form-footer p:nth-child(2)
 {
    text-align: center;
    margin-left: 68px;
}

.form-footer p:nth-child(2) {
    margin-top: -8px;
}

.form-footer p a {
    color: #ef7822;
    text-decoration: underline;
}

.burger {
    position: relative;
    width: 1348px;
    margin-top: -30px;
    /* opacity: 0.3; */
    filter: brightness(25%);
    z-index: -1;
}

.left-side {
    position: relative;
    z-index: -1;
    top: -490px;
    width: 600px;
    margin-left: 730px;
}

.left-side p {
    color: white;
    font-size: 35px;
    font-family: "Lato";
}

.left-side button {
    background-color: #ef7822;
    color: white;
    border: none;
    margin-left: 202px;
    width: 170px;
    height: 30px;
    border-radius: 10px;
}

/* How-to-register section */

section.How-to-reg {
    background-color: #FFFAF5;
    margin-top: -99px;
    padding-bottom: 60px;
}

.How-to-reg h3 {
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-family: "Lato";
    font-weight: 500;
}

.grid-container {
    display: grid;
    margin: 30px;
    width: 1280px;
    column-gap: 120px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    box-shadow: 15px 15px 10px rgba(221, 216, 216, 0.61);
    border-radius: 20px;
    padding: 20px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;   
}

.grid-item img {
    width: 40px;
}

.How-to-reg button {
    text-align: center;
    margin: 40px 0 0 569px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 54px;
    background-color: #ef7822;
    color: #ffff;
    font-weight: bold;
}

.under-picture {
    background-image: url(./images/Vector\ 12\ \(3\).jpg);
    margin-top: 70px;
}

/*Got any question*/

section.forth-section {
    background-color: #ffff;
}

.got-any-question {
    margin-top: 95px;
    width: 494px;
    margin-left: 30px;
}

.got-any-question h2 {
    font-weight: bold;
}

.got-any-question p {
    text-align: justify;
}

.forth-section .how-it-work {
    position: relative;
    width: 500px;
    top: -350px;
    left: 590px;
}

.forth-section .how-it-work div {
    background-color: #ffff;
    box-shadow: 1px 15px 10px rgba(221, 216, 216, 0.61);
    border-radius: 10px;
    width: 730px;
    height: 70px;
    margin-bottom: 10px;
    padding: 3px 20px;
}

.forth-section .how-it-work div:nth-child(1) {
    height: 150px;
}

.forth-section .how-it-work div h5 {
    margin-top: 6px;
    font-weight: 600;
    font-size: 20px;
}

.forth-section .how-it-work div p {
    margin-top: 10px;
    margin-left: -8px;
    padding: 10px;
    /* border: 1px solid black; remove */
    width: 500px;
    font-weight: 500;
}

/*footer*/

.footer {
    background-color: #8f4c1a;
    color: white;
    margin-top: 50px;
}

.footer .footer-logo {
    height: 60px;
    padding-top: 30px;
    margin-left: 20px;
}

.footer .footer-logo img {
    width: 120px;
}

.footer .footer-logo p {
    font-size: 11px;
    font-weight: 600;
    margin-left: 7px;
    letter-spacing: 1px;
}

.footer-grid-container {
    display: inline-block;
    position: relative;
    width: 90px;
    top: -30px;
    left: 240px;
    display: grid;
    margin: 0px;
    column-gap: 20px;
    grid-template-columns: 100px 130px 90px;    
}

.footer-grid-item {
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
}

/*footer-address*/

.Address {
    position: relative;
    width: 170px;
    top: -190px;
    left: 790px;
}

.Address p {
    margin-top: 7px;
}

.Address div p {
    margin-bottom: -2px;
}

/*footer install*/

.install {
    position: relative;
    top: -310px;
    left: 1140px;
    width: 120px;
}

.install img {
    width: 130px;
}